.nav a {
    color: white;
    background-color: black;
    font-size: 14px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase
    font-family: ;
}

.jumbotron {
    color: white;
    background-color: black;
    height: 500px;
    background-image: url('http://goo.gl/04j7Nn');   
}